$Pink: #f72585;
$Purple: #7209b7;
$DarkBlue: #3a0ca3;
$Blue: #4361ee;
$LightBlue: #4cc9f0;
$White: #ffffff;
$Black: #231b1b;
$Grey: #faf9f9;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Murecho:wght@300&family=Trispace:wght@300&display=swap");

.examples {
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Murecho", sans-serif;
  font-family: "Trispace", sans-serif;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 80%;
  margin-top: 5rem;
  margin-bottom:5rem;
}

.bounce {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sortTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  width: 100%;
}

.title {
  display: flex;
  font-family: "Trispace", sans-serif;
  font-size: 5vh;
  font-weight: bold;
  color: $White;
  margin: 0%;
  margin-bottom: 2rem;
}

.eachLesson {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25rem;
  background-color: $LightBlue;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 2px 30px 6px rgba(0, 0, 0, 0.5);
  padding: 2%;
  &:hover {
    cursor: url(../../images/pointer.png), default;
    opacity: 0.8;
  }
}

.titleLesson {
  margin: 0%;
  margin-top: 2rem;
  font-family: "Trispace", sans-serif;
  font-size: 3vh;
  font-weight: bold;
  color: $Black;
}

.eachLessonCompleted {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 25rem;
  background-color: $LightBlue;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 2px 30px 6px rgba(0, 0, 0, 0.5);
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  &:hover {
    cursor: url(../../images/pointer.png), default;
    opacity: 0.8;
  }
}

.completed {
  font-family: "Trispace", sans-serif;
  font-size: 3vh;
  width: 100%;
  margin: 0%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: $Black;
}

@media (max-width: 800px) {
  .completed {
    font-size: 3vh;
  }
  .eachLesson {
    width: 25rem;
  }
}
