$Pink: #f72585;
$Purple: #7209b7;
$DarkBlue: #3a0ca3;
$Blue: #4361ee;
$LightBlue: #4cc9f0;
$White: #ffffff;
$Black: #231b1b;
$Grey: #faf9f9;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Murecho:wght@300&family=Trispace:wght@300&display=swap");

@font-face {
  font-family: Meows;
  src: url("../../fonts/Meows.ttf") format("opentype");
}

.examples {
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Murecho", sans-serif;
  font-family: "Trispace", sans-serif;
}
.container {
  width: 100%;
  height: fit-content;
  min-height: 110vh;
  background-color: $Blue;
  padding-bottom: 5rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.sortTitleHome {
  display: flex;
  align-items:flex-end;
  justify-content: left;
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 5rem;
  margin-right: 10rem;
  flex-direction: row;
}

.title {
  font-family: "Meows", sans-serif;
  font-size: 15vh;
  margin: 0%;
  color: $Black;
  text-shadow: 1px 1px $White, -1px 1px 0 $White, 1px -1px 0 $White,
    -1px -1px 0 $White, 0px 1px 0 $White, 0px -1px 0 $White, -1px 0px 0 $White,
    1px 0px 0 $White, 2px 2px 0 $White, -2px 2px 0 $White, 2px -2px 0 $White,
    -2px -2px 0 $White, 0px 2px 0 $White, 0px -2px 0 $White, -2px 0px 0 $White,
    2px 0px 0 $White, 1px 2px 0 $White, -1px 2px 0 $White, 1px -2px 0 $White,
    -1px -2px 0 $White, 2px 1px 0 $White, -2px 1px 0 $White, 2px -1px 0 $White,
    -2px -1px 0 $White;
}

.sortLessons {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  width: 90%;
  z-index: 5;
}

.buttonNoToken {
  width: 70%;
  margin-top: 10%;
  height: 3rem;
  font-family: "Trispace", sans-serif;
  border-radius: 10px 10px 10px 10px;
  font-size: 3vh;
  font-weight: bold;
  border: transparent;
  position: relative;
  color: $Black;
  background-color: $Grey;
  z-index: 2;
  line-height: 40px;
  padding: 0;
}

.buttonNoToken:hover {
  border: none;
  cursor: url(../../images/pointer.png), default;
}

.buttonNoToken:before,
.buttonNoToken:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  border: 0.1rem solid;
  z-index: -1;
  transition: all 0.3s ease;
}

.buttonNoToken:before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: $Black;
  border-left-color: $Black;
}

.buttonNoToken:after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: $Black;
  border-right-color: $Black;
}

.buttonNoToken:hover:before,
.bubuttonNoTokentton:hover:after {
  border-color: $Black;
  height: 100%;
  width: 100%;
}

@media (max-width: 800px) {
  .sortTitleHome {
    margin-right: 0;
    margin-top: 6rem;
    margin-bottom: 0rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .title {
    font-size: 9vh;
  }
  .buttonNoToken {
    width: 80%;
    font-size: 2vh;
  }
  .sortLessons {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
