$Pink: #f72585;
$Purple: #7209b7;
$DarkBlue: #3a0ca3;
$Blue: #4361ee;
$LightBlue: #4cc9f0;
$White: #ffffff;
$Black: #231b1b;
$Grey: #faf9f9;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Murecho:wght@300&family=Trispace:wght@300&display=swap");

.examples {
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Murecho", sans-serif;
  font-family: "Trispace", sans-serif;
}

.container {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: $White;
  border-left: solid 0.5rem $Black;
  align-items: center;
  flex-direction: column;
  z-index: 55;
  justify-content: flex-start;
}

.none {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: $White;
  border-left: solid 0.5rem $Black;
  align-items: center;
  flex-direction: column;
  z-index: 55;
  justify-content: flex-start;
}

.bounce {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sortUp {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0%;
  width: 100%;
}

.up {
  font-family: "Trispace", sans-serif;
  margin: 0%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 4vh;
  color: $Blue;
}

.sortProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.eachInformation {
  color: $Blue;
  font-family: "Trispace", sans-serif;
  font-size: 2.2vh;
  font-weight: bold;
  margin: 0%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sortButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.button {
  font-family: "Trispace", sans-serif;
  font-size: 3vh;
  font-weight: bold;
  color: $White;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 0.2rem solid $Black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.button:hover {
  cursor: url(../../images/pointer.png), default;
}

.button::after {
  content: "";
  background-color: $Blue;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button:hover::after {
  top: 0px;
  left: 0px;
}

.sortMedals {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.medal {
  color: $Blue;
  max-width: 2rem;
  min-width: 2rem;
  max-height: 2rem;
  min-height: 2rem;
}

.sortInsideButton {
  display: none;
}

@media (max-width: 800px) {
  .container {
    z-index: 10;
    width: 100%;
    animation-duration: 1s;
    animation-name: bounceInLeft;
  }
  @keyframes bounceInLeft {
    0% {
      opacity: 0;
      transform: translateX(-2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(30px);
    }
    80% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .none {
    z-index: 10;
    width: 100%;
    animation-duration: 1s;
    animation-name: bounceOutLeft;
    transform: translateX(-2000px);
  }

  @keyframes bounceOutLeft {
    0% {
      transform: translateX(0);
    }
    20% {
      opacity: 1;
      transform: translateX(20px);
    }
    100% {
      opacity: 0;
      transform: translateX(-2000px);
    }
  }

  .information {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0%;
  }

  .sortInsideButton {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  .miniButton {
    width: 5rem;
    height: 3rem;
    border: transparent;
    border-radius: 10px 10px 10px 10px;
    background-color: $LightBlue;
    &:hover {
      opacity: 0.8;
      cursor: url(../../images/pointer.png), default;
    }
  }
  .miniIcon {
    color: $White;
    min-width: 2rem;
    max-width: 2rem;
    min-height: 2rem;
    max-height: 2rem;
  }
  .sortResponsive {
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 10;
  }
  .miniButtonHome {
    width: 5rem;
    height: 3rem;
    border: transparent;
    border-radius: 10px 10px 10px 10px;
    background-color: $LightBlue;
    &:hover {
      opacity: 0.8;
      cursor: url(../../images/pointer.png), default;
    }
  }
  .sortMedals {
    flex-direction: row;
  }
}
